body {
  margin: 0;
  font-family: poppins, cursive;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: unset;
}

.job-link {
  width: 45%;
  margin: 20px;
  cursor: pointer;
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff!important;
  background: red!important;
}

.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.android-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.android-mobile-title {
  display: none !important;
}


.android-logo-image {
  height: 28px;
  width: 140px;
}


.android-header {
  overflow: visible;
  background-color: white;
}

  .android-header .material-icons {
    color: #767777 !important;
  }

  .android-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
    z-index: 1;
  }

  @media all and (max-width: 850px){
    .android-header .mdl-navigation__link {
      font-size: 10px;
    }
  }

  .android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .android-search-box.is-focused + .android-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    /* background-color: transparent !important; */
    border-bottom: 4px solid transparent;
  }

    .android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #007CFE;
    }

  .android-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .android-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.android-drawer {
  border-right: none;
}

  .android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .android-drawer .mdl-layout-title {
    position: relative;
    height: 160px;
  }

    .android-drawer .android-logo-image {
      position: absolute;
      bottom: 16px;
    }


.status{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.open-status{
  width: 110px;
    height: 30px;
    background-color: #0bba0b;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

.closed-status{
  width: 110px;
  height: 30px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }

  .android-title {
    display: none !important;
  }

  .android-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.task-expired{
  transition: .3s ease;
  background-color: #ffffff7d;
}

.task-expired:hover{
  background-color: #ffffff00;
}

.expire-div{
  border: 2px solid gray;
  border-radius: 5px;
}

#search-task-input{
  text-indent: 10px;
    font-size: 12px;
    font-family: poppins, cursive;
    border-radius: 5px;
}

textarea, .modal, header, footer{
  font-family: poppins, cursive;
}
